<!DOCTYPE html>
{#{% %}标记意味着我们正在使用Django模板标签#}
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>I'm Melody ~~~</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/blog.css' %}" charset="utf-8">
    </head>
    <body>
{#    Example1#}
{#        <p>Hi guys !</p>#}
{#        <p>It Works !</p>#}
{#        <h1>I'm A heading</h1> <!--为你最重要的标题-->#}
{#        <h2>I'm A sub-heading</h2>  <!--为下一层级的标题！-->#}
{#        <h3>I'm A sub-sub-heading</h3>  <!--... 同样，直到 <h6>-->#}
{#        <em>I'm a italics text</em>  <!--强调您的文本-->#}
{#        <br />#}
{#        <strong>I'm strong text</strong>  <!--强烈强调您的文本-->#}
{#        <br />  <!--跳转到下一行（你不能放任何东西在br里面）-->#}
{#        <a href="https://djangogirls.org">link</a>  <!--创建一个链接-->#}
{#        <ul><li>first item</li><li>second item</li></ul>  <!--产生一个列表，就像这样！-->#}
{#        <div></div> <!--定义页面上的一个段-->#}
{#        <br />#}


{#    Example2#}
{#        <div>#}
{#            <h1><a href="">Django Girls Blog</a></h1>#}
{#        </div>#}
{##}
{#        <div>#}
{#            <p>published: 14.06.2014, 12:14</p>#}
{#            <h2><a href="">My first post</a></h2>#}
{#            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>#}
{#        </div>#}
{##}
{#        <div>#}
{#            <p>published: 14.06.2014, 12:14</p>#}
{#            <h2><a href="">My second post</a></h2>#}
{#            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>#}
{#        </div>#}


{#    Example3#}
{#        <div>#}
{#            <h1><a href="">Django Girls Blog</a></h1>#}
{#        </div>#}
{##}
{#        {{ posts }}#}


{#    Example4#}
{#        <div>#}
{#            <h1><a href="">Django Girls Blog</a></h1>#}
{#        </div>#}
{##}
{#        {% for post in posts %}#}
{#            {{ post }}#}
{#        {% endfor %}#}


{#    Example5#}
{#        <div class="page-header">#}
{#            <h1><a href="">Django Girls Blog</a></h1>#}
{#        </div>#}
{##}
{#        {% for post in posts %}#}
{#            <div class="post">#}
{#                <h1><a href="">{{ post.title }}</a></h1>#}
{#                <p>published: {{ post.published_date }}</p>#}
{#                <p>{{ post.text|linebreaks }}</p>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </body>#}


{#    Example6#}
        <div class="page-header">
            <h1><a href="/hello1">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                published: {{ post.published_date }}
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>