<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>I'm Melody ~~~</title>
    </head>
    <body>
{#        <p>Hi guys !</p>#}
{#        <p>It Works !</p>#}
{#        <h1>I'm A heading</h1> <!--为你最重要的标题-->#}
{#        <h2>I'm A sub-heading</h2>  <!--为下一层级的标题！-->#}
{#        <h3>I'm A sub-sub-heading</h3>  <!--... 同样，直到 <h6>-->#}
{#        <em>I'm a italics text</em>  <!--强调您的文本-->#}
{#        <br />#}
{#        <strong>I'm strong text</strong>  <!--强烈强调您的文本-->#}
{#        <br />  <!--跳转到下一行（你不能放任何东西在br里面）-->#}
{#        <a href="https://djangogirls.org">link</a>  <!--创建一个链接-->#}
{#        <ul><li>first item</li><li>second item</li></ul>  <!--产生一个列表，就像这样！-->#}
{#        <div></div> <!--定义页面上的一个段-->#}
{#        <br />#}
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>